<div class="main">
    <div class="left">
        <h1>Invest for the Future</h1>
        <p class="description">
        Work with all the necessary information and tools to boost money flow from your capital investment using ProFinance!
        </p>
        <button class="download">
        <i class="fab fa-apple"></i> Download App
        </button>
        <a href="#" class="find-more">Find Out More ↓</a>
    </div>

    <div class="right">
        <img src="https://www.pngmart.com/files/15/Apple-iPhone-11-PNG-Background-Image.png" alt="Phone 1" class="phone phone1" />
        <img src="https://www.pngmart.com/files/15/Apple-iPhone-11-PNG-Background-Image.png" alt="Phone 2" class="phone phone2" />
    </div>
</div>


